//- extends layout
 
//- block content
//-   h1= title
//-   p Welcome to Siva Priya web application page working on pug within this lab #{title}
 
//-   button(type="button", class="btn btn-secondary" onClick="goFaster()") Press  me
//-   br
//-   div(id="faster") Increase the speed
//-   br
//-   script.

//-     var mph=20;
//-     var change=1;
//-     function goFaster() {
//-       mph =mph + change ;
//-       change =change +1;
//-       document.getElementById("faster").innerHTML=`MPH ${mph} with change ${change}.`;
//-     }
//-   hr
//-   a(href='/vehicle') vehicle_Link


extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/vehicle") Take me to vehicle
    br
    a(href="/logout") Logout
