extends layout

block content
  h1= title

  .row
    each vehicle in results
      .col-3 
        ul
          li vehicle type: #{vehicle.vehicle_type}
          li vehicle cost : #{vehicle.cost}
          li vehicle company : #{vehicle.company}